<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Appointments</title>
  <script type="text/javascript" th:src="@{/js/app.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/appointments.css}"/>
</head>
<body>
  <div id="appointments-div">
    <input type="text" id="search-name-filter" onkeyup="searchForDentistName()" placeholder="Search for dentist name"/>
    <table id="dentistVisitsTable">
      <tr>
        <th><p th:text="#{dentist.name}">dentist.name</p></th>
        <th><p th:text="#{visit.date}">visit.date</p></th>
        <th><p th:text="#{table.action}">visit.date</p></th>
      </tr>
      <tr th:each="visit : ${visits}">
        <td><p th:text="${visit?.dentistName}"></p></td>
        <td><p th:text="${#temporals.format(visit?.visitTime, 'dd/MM/yyyy HH:mm')}"></p></td>
        <td id="action-row">
          <a id="edit-button" th:text="#{button.edit}" th:href="@{/appointments/edit/{id}(id=${visit.id})}"></a>
          <a id="delete-button" th:text="#{button.delete}" th:href="@{/appointments/delete/{id}(id=${visit.id})}"></a>
        </td>
      </tr>
    </table>
    <a id="back-button" th:text="#{button.back}" th:href="@{/}"></a>
  </div>
</body>
</html>
