<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Edit</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
</head>
<body>
  <form id="dentist-register-form" action="#" th:action="@{/appointments/edit/{id}(id=${dentistVisitDTO?.id})}" th:object="${dentistVisitDTO}" method="post">
    <table>
      <tr class="form-table-row">
        <td class="registration-input-label"><p th:text="#{dentist.name}">dentist.name</p></td>
        <td>
          <input class="registration-input" type="text" id="dentistName" name="dentistName" th:value="${dentistVisitDTO?.dentistName}" list="dentists"/>
          <datalist id="dentists">
            <option th:each="dentist : ${dentists}" th:value="${dentist}"></option>
          </datalist>
          <p class="error-message" th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}">name.error</p>
        </td>
      </tr>
      <tr class="form-table-row">
        <td class="registration-input-label"><p th:text="#{visit.date}">visit.date</p></td>
        <td>
          <input class="registration-input" type="datetime-local" id="visitTime" name="visitTime" th:value="${dentistVisitDTO?.visitTime}"/>
          <p class="error-message" th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">date.error</p>
          <p class="error-message" th:if="${errorMessage}" th:text="${errorMessage}">date.error</p>
        </td>
      </tr>
    </table>
    <div id="registration-buttons">
      <button id="register-button" type="submit" th:text="#{button.update}"></button>
      <a id="back-button" th:text="#{button.back}" th:href="@{/appointments}"></a>
    </div>
  </form>
</body>
</html>
