<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
  <form action="#" th:action="@{/appointments/edit/{id}(id=${visit?.id})}" th:object="${dentistVisitDTO}" method="post">
    <table>
      <tr>
        <td><p th:text="#{dentist.name}">dentist.name</p></td>
        <td>
          <input type="text" id="dentistName" name="dentistName" th:value="${visit?.dentistName}" list="dentists"/>
          <datalist id="dentists">
            <option th:each="dentist : ${dentists}" th:value="${dentist}"></option>
          </datalist>
        </td>
        <td th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}">name.error</td>
      </tr>
      <tr>
        <td><p th:text="#{visit.date}">visit.date</p></td>
        <td><input type="datetime-local" id="visitTime" name="visitTime" th:value="${visit?.visitTime}"/></td>
        <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">date.error</td>
      </tr>
      <tr>
        <td>
          <button type="submit" th:text="#{update.visit}"></button>
        </td>
      </tr>
    </table>
  </form>
</body>
</html>
